extends layout

block content
  div 
    h1= title
    p Welcome to #{title}
  .messageboard 
    each message in messages 
      .message 
        span= message.user+': '
        span= message.text 
  a(href="/new") 
    button.add Add message 

